<h1> You're now viewing your profiles</h1>

<button type="button" routerLink="/dashboard">Back to Main Dashboard</button>

<p>[placeholder] add profile button </p>
<p>[placeholder] A list of profiles, each with Delete/Update/View actions buttons</p>
<p>[placeholder] add/update/view buttons should lead to another component</p>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Profile List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>profileId</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let profile of profiles | async">
            <td>{{profile.profileId}}</td>
            <!-- <td><button (click)="deleteProfile(profile.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateProfile(profile.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="getProfileById(profile.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

<div>
  <form>
    <p> Age: <input type="text"> </p>
    <p> Sex: <input type="text"> </p>
    <p> Location: <input type="text"> </p>
    <p> Physical Fitness: <input type="text"> </p>
    <p> Language Preference: <input type="text"> </p>
    <p> Medical History: <input type="text"> </p>
  </form>
  <button> Submit </button>
</div>