<h1> You're now viewing your profiles</h1>

<button type="button" routerLink="/dashboard">Back to Main Dashboard</button>

<p>[placeholder] add profile button </p>
<p>[placeholder] A list of profiles, each with Delete/Update/View actions buttons</p>
<p>[placeholder] add/update/view buttons should lead to another component</p>

<div>
  <form>
    <p> Age: <input type="text"> </p>
    <p> Sex: <input type="text"> </p>
    <p> Location: <input type="text"> </p>
    <p> Physical Fitness: <input type="text"> </p>
    <p> Language Preference: <input type="text"> </p>
    <p> Medical History: <input type="text"> </p>
  </form>
  <button> Submit </button>
</div>